@{
    if (WebSecurity.CurrentUserName == "")
    {
        Response.Redirect("~/Account/Login");
    }
    Response.OutputCache(60);
    if(!UrlData[0].IsEmpty())
    {
    var result = UrlData[0];
        
    var db = Database.Open("StarterSite");

    var caseQue = db.Query("SELECT [CaseStudies].* FROM [CaseStudies] WHERE [visibility]=@0 AND [Category] LIKE @1", 2, "%"+result+"%").ToList();

    foreach (var item in caseQue)
        {
            Response.Write("<a href='CaseStudy/PeerCase/" + item.id + "'>" + item.name + "</a>");
        }
}
}