@{
    if (WebSecurity.CurrentUserName == "")
    {
        Response.Redirect("~/Account/Login");
    }
    Response.OutputCache(60);
    if(!UrlData[0].IsEmpty())
    {
    var result = UrlData[0];
        
    var db = Database.Open("StarterSite");
    var userID = WebSecurity.CurrentUserId;

    
    if (result == "Peer")
    {
        var peerQue = db.Query("SELECT [UserProfile].[UserId], [UserProfile].[firstName], [UserProfile].[lastName] FROM [UserProfile] INNER JOIN [PeerNet] ON [UserProfile].[UserId]=[PeerNet].[UserId] OR [UserProfile].[UserId]=[PeerNet].[PeerId]  WHERE [PeerNet].[UserId]=@0 AND [PeerNet].[isfriend]=@1 AND [PeerNet].[isaccepted]=@2 AND [PeerNet].[blocked]=@3 OR ([PeerNet].[PeerId])=@0 AND [PeerNet].[isfriend]=@1 AND [PeerNet].[isaccepted]=@2 AND [PeerNet].[blocked]=@3", userID, true, true, false).ToList();

        foreach (var item in peerQue)
        {
            var planQue = db.QuerySingle("SELECT * FROM [Plans] WHERE [UserId]=@0", item.UserId);
            Response.Write("<a href='Plan/PeerPlan/"+planQue.id+"'>"+planQue.name+"</a>");
        }
    }
        
    else
    {
        var findQue = db.Query("SELECT [Plans].* FROM [Plans] INNER JOIN [UserProfile] ON [UserProfile].[UserId]=[Plans].[UserId] WHERE [UserProfile].[stateProvider]=@0", result);

        foreach (var item in findQue)
        {
        Response.Write("<a href='Plan/PeerPlan/"+item.id+"'>"+item.name+"</a>");
        }
    }

}
}