@{
    Response.OutputCache(60);
    if(!UrlData[0].IsEmpty() || !UrlData[1].IsEmpty() || !UrlData[2].IsEmpty())
    {
        var category = UrlData[0];
        var state = UrlData[1];
        var tPerson = UrlData[2];
        
    var db = Database.Open("StarterSite");
    var userID = WebSecurity.CurrentUserId;


    if (category != "N-A" && state != "N-A" && tPerson != "")
    {
        var products = db.Query("SELECT [Products].* , [UserProfile].[firstName], [UserProfile].[lastName] FROM [Products] INNER JOIN [UserProfile] ON [UserProfile].[UserId]=[Products].[UserId] WHERE [Products].[Visibility]=@0 AND [Products].[Group] LIKE @1 AND [UserProfile].[stateProvider]=@2 AND [UserProfile].[PayPal]=NOT NULL AND [UserProfile].[UserId]=@3", 2, "%" + category + "%", state, tPerson).ToList();

        foreach (var item in products)
        {
            if (item.ProductImageMIME != null)
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img class='product-image order-image' height='40' width='40' src='~/Dynamic/downloadProductImage/" + item.id + "' alt='Image of " + item.Name + "'/>  Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
            else
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img src='~/Images/QuestionMark.png' alt='' height='30' width='30' />   Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
        }
    }
    else if (category != "N-A" && state == "N-A" && tPerson == "")
    {
        var products = db.Query("SELECT [Products].*, [UserProfile].[firstName], [UserProfile].[lastName] FROM [Products] INNER JOIN [UserProfile] ON [UserProfile].[UserId]=[Products].[UserId] WHERE [Products].[Visibility]=@0 AND [Products].[Group] LIKE @1 AND [UserProfile].[PayPal] IS NOT NULL", 2, "%" + category + "%").ToList();

        foreach (var item in products)
        {
            if (item.ProductImageMIME != null)
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img class='product-image order-image' height='40' width='40' src='~/Dynamic/downloadProductImage/" + item.id + "' alt='Image of " + item.Name + "'/>  Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
            else
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img src='~/Images/QuestionMark.png' alt='' height='30' width='30' />   Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
        }

    }
    else if (category != "N-A" && state != "N-A" && tPerson == "")
    {
        var products = db.Query("SELECT [Products].* , [UserProfile].[firstName], [UserProfile].[lastName] FROM [Products] INNER JOIN [UserProfile] ON [UserProfile].[UserId]=[Products].[UserId] WHERE [Products].[Visibility]=@0  AND [Products].[Group] LIKE @1 AND [UserProfile].[stateProvider]=@2  AND [UserProfile].[PayPal] IS NOT NULL", 2, "%" + category + "%", state).ToList();

        foreach (var item in products)
        {
            if (item.ProductImageMIME != null)
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img class='product-image order-image' height='40' width='40' src='~/Dynamic/downloadProductImage/" + item.id + "' alt='Image of " + item.Name + "'/>  Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
            else
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img src='~/Images/QuestionMark.png' alt='' height='30' width='30' />   Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
        }

    }
    else if (category != "N-A" && state == "N-A" && tPerson != "")
    {
        var products = db.Query("SELECT [Products].* , [UserProfile].[firstName], [UserProfile].[lastName] FROM [Products] INNER JOIN [UserProfile] ON [UserProfile].[UserId]=[Products].[UserId] WHERE [Products].[Visibility]=@0 AND [Products].[Group] LIKE @1 AND [UserProfile].[PayPal] IS NOT NULL AND [UserProfile].[UserId]=@2", 2, "%" + category + "%", tPerson).ToList();

        foreach (var item in products)
        {
            if (item.ProductImageMIME != null)
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img class='product-image order-image' height='40' width='40' src='~/Dynamic/downloadProductImage/" + item.id + "' alt='Image of " + item.Name + "'/>  <a href='Order/" + item.id + "'>Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
            else
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img src='~/Images/QuestionMark.png' alt='' height='30' width='30' />   <a href='Order/" + item.id + "'>Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
        }
    }

    else if (category == "N-A" && state != "N-A" && tPerson != "")
    {
        var products = db.Query("SELECT [Products].* , [UserProfile].[firstName], [UserProfile].[lastName] FROM [Products] INNER JOIN [UserProfile] ON [UserProfile].[UserId]=[Products].[UserId] WHERE [Products].[Visibility]=@0 AND [UserProfile].[stateProvider]=@1 AND [UserProfile].[PayPal] IS NOT NULL AND [UserProfile].[UserId]=@2", 2, state, tPerson).ToList();

        foreach (var item in products)
        {
            if (item.ProductImageMIME != null)
            {
                Response.Write("<li><img <a href='ItemDetail/" + item.id + "'>='product-image order-image' height='40' width='40' src='~/Dynamic/downloadProductImage/" + item.id + "' alt='Image of " + item.Name + "'/>  Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
            else
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img src='~/Images/QuestionMark.png' alt='' height='30' width='30' />   Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
        }
    }

    else if (category == "N-A" && state != "N-A" && tPerson == "")
    {
        var products = db.Query("SELECT [Products].* , [UserProfile].[firstName], [UserProfile].[lastName] FROM [Products] INNER JOIN [UserProfile] ON [UserProfile].[UserId]=[Products].[UserId] WHERE [Products].[Visibility]=@0 AND [UserProfile].[stateProvider]=@1 AND [UserProfile].[PayPal] IS NOT NULL", 2, state).ToList();

        foreach (var item in products)
        {
            if (item.ProductImageMIME != null)
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img class='product-image order-image' height='40' width='40' src='~/Dynamic/downloadProductImage/" + item.id + "' alt='Image of " + item.Name + "'/>  Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
            else
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img src='~/Images/QuestionMark.png' alt='' height='30' width='30' />   Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
        }
    }

    else if (category == "N-A" && state == "N-A" && tPerson != "")
    {
        var products = db.Query("SELECT [Products].* , [UserProfile].[firstName], [UserProfile].[lastName] FROM [Products] INNER JOIN [UserProfile] ON [UserProfile].[UserId]=[Products].[UserId] WHERE [Products].[Visibility]=@0 AND [UserProfile].[PayPal] IS NOT NULL AND [UserProfile].[UserId]=@1", 2, tPerson).ToList();

        foreach (var item in products)
        {
            if (item.ProductImageMIME != null)
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img class='product-image order-image' height='40' width='40' src='~/Dynamic/downloadProductImage/" + item.id + "' alt='Image of " + item.Name + "'/>  Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
            else
            {
                Response.Write("<li><a href='ItemDetail/" + item.id + "'><img src='~/Images/QuestionMark.png' alt='' height='30' width='30' />   Product Name: " + item.Name + "<br> Price: $" + item.Price + "<br> Seller: " + item.firstName + " " + item.lastName + "</a></li>");
            }
        }
    }

}
}