@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

<article>
    <p>
        Sharapist.Com allows occupational/physical therapists and personal trainers from around the country to share case studies and plans with their peers within a connected network. 
        In allowing professionals to communicate with one another, people are exposed to various ways in which to treat clients more efficently and effectively. 
    </p>
    <p>
        Founder, Pierre Dion Bush, wanted to create a website that allowed physical/occupational therapists and personal trainers to communicate with one another openly and privately.
        With his spouse and partner, who is also a Physical Therapist, and multiple friends as personal trainers he was able to create a social network to meet all of these individual needs. 
    </p>
</article>

<aside>
    <h3>Sharapist.Com</h3>
    <p>
        Connecting Therapists/Personal Trainers Around the Country to Improve the Health for all clients.
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
        <li><a href="~/Contact">Contact</a></li>
    </ul>
</aside>