@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "Contact";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span class="label">For Support, Marketing, and General:</span>
        <span><a href="mailto:info@sharapist.com">info@sharapist.com</a></span>
    </p>
</section>
